<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.quanhu.demo.dao.DemoDao">

	<sql id="table_name">test_demo</sql>
	<sql id="table_files">id,name,age,content</sql>
	
	<resultMap type="com.yryz.quanhu.demo.entity.Demo" id="outEntity">
		<id	column="id" property="id"/>
		<result	column="name" property="name"/>
		<result	column="age" property="age"/>
		<result column="content" property="content"/>
	</resultMap>
	
	<parameterMap type="java.lang.Long" id="Long"/>	
	<parameterMap type="java.lang.String" id="String"/>
	<parameterMap id="entity" type="com.yryz.quanhu.demo.entity.Demo"/>
		
		
	<select id="selectById"	parameterMap="Long"	resultMap="outEntity">
		select	<include refid="table_files"/> from	<include refid="table_name"/>	
		where id=#{id}
	</select>
	
	<select id="selectAll"	resultMap="outEntity">
		select	<include refid="table_files"/> from	<include refid="table_name"/>
	</select>
	
	<select id="listByPage"	resultMap="outEntity"	parameterType="java.util.Map">
		select	<include refid="table_files"/> from	<include refid="table_name"/>
		limit #{pageNo },#{pageSize}
	</select>
	


	<insert id="insert"	parameterMap="entity"	useGeneratedKeys="true"	keyColumn="id"	keyProperty="id">
		insert into	<include refid="table_name"></include>(prize,name)
		values(#{prize},#{name})
	</insert>

	<delete id="delete" parameterMap="Long">
		delete from <include refid="table_name"/> where id=#{id}
	</delete>

	<update id="update" parameterMap="entity">
		update <include refid="table_name"/>
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="prize!=null and prize!=''">
				prize=#{prize},
			</if>
		</set>
		where id=#{id}
	</update>
	

	
</mapper>
