<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	<!-- 1,redis连接池配置信息 -->
	<bean	id="jedisPoolConfig"	class="redis.clients.jedis.JedisPoolConfig">
	</bean>
	
	<!-- 2,服务器信息 -->
	<bean	id="jedisShardInfo1"	class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg	name="host"	value="${redis.host}"/>
		<constructor-arg	name="port"	value="${redis.port}"/>
	</bean>
	
	<!-- 3,生成redis连接池 -->
	<bean	id="shardedJedisPool"	class="redis.clients.jedis.ShardedJedisPool">
		<constructor-arg	name="poolConfig" ref="jedisPoolConfig"  type="org.apache.commons.pool2.impl.GenericObjectPoolConfig"/>
		<constructor-arg	name="shards"	type="java.util.List">
			<list>
				<ref	local="jedisShardInfo1"/>
			</list>
		</constructor-arg>
	</bean>
	
		
</beans>