<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yryz.quanhu.xyq.dao.GoodsDao">

	<sql id="table_name">xyq_goods</sql>
	<sql id="table_files">id,prize,name</sql>
	
	<resultMap type="com.yryz.quanhu.xyq.entity.Goods" id="outEntity">
		<id	column="id" property="id"/>
		<result	column="name" property="name"/>
		<result	column="prize" property="prize"/>
	</resultMap>

    <parameterMap id="entity" type="com.yryz.quanhu.xyq.entity.Goods"/>
	<parameterMap type="java.lang.Long" id="Long"/>	
	<parameterMap type="java.lang.String" id="String"/>

		
		
	<select id="selectById"	parameterMap="Long"	resultMap="outEntity">
		select	<include refid="table_files"/> from	<include refid="table_name"/>	
		where id=#{id}
	</select>
	
	<select id="selectAll"	resultMap="outEntity">
		select	<include refid="table_files"/> from	<include refid="table_name"/>
	</select>
	
	<select id="listByPage"	resultMap="outEntity"	parameterType="java.util.Map">
		select	<include refid="table_files"/> from	<include refid="table_name"/>
		limit #{pageNo },#{pageSize}
	</select>
	
	<select id="selectByTitlt"	resultMap="outEntity"	parameterMap="String">
		select	<include refid="table_files"/> from	<include refid="table_name"/>
		where	title	like	concat(concat('%',#{title}),'%')
	</select>

	<insert id="insert"	parameterMap="entity"	useGeneratedKeys="true"	keyColumn="id"	keyProperty="id">
		insert into	<include refid="table_name"></include>(prize,name)
		values(#{prize},#{name})
	</insert>

	<delete id="delete" parameterMap="Long">
		delete from <include refid="table_name"/> where id=#{id}
	</delete>

	<update id="update" parameterMap="entity">
		update <include refid="table_name"/>
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="prize!=null and prize!=''">
				prize=#{prize},
			</if>
		</set>
		where id=#{id}
	</update>
	

	
</mapper>
