<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd"
	default-lazy-init="true">
	
	<context:property-placeholder	location="classpath:/config/jdbc.properties"/>

	<bean	id="user"	class="org.quanhu.spring1.day1.entity.User"	init-method=""	destroy-method="">
		<property name="id">
			<value	type="java.lang.Long">119</value>
		</property>
		<property name="userName">
			<value	type="java.lang.String">chenshi</value>
		</property>
		<property name="passWord"	value="123xdff"/>
	</bean>
	
	<bean	id="user2"	class="org.quanhu.spring1.day1.entity.User"	>
		<constructor-arg	type="java.lang.Long"	value="89"/>
		<constructor-arg	type="java.lang.String"	value="xujiali"/>
		<constructor-arg	type="java.lang.String"	value="xyq"/>	
	</bean>
	
	<bean	id="user3"	class="org.quanhu.spring1.day1.entity.User"	>
		<constructor-arg	type="java.lang.Long"	value="${id}"/>
		<constructor-arg	type="java.lang.String"	value="${userName2}"/>
		<constructor-arg	type="java.lang.String"	value="${passWord}"/>	
	</bean>
	
	<bean	id="userDao"	class="org.quanhu.spring1.day1.dao.UserDaoImpl"	scope="singleton">
	
	</bean>
	
	<bean	id="userService"	class="org.quanhu.spring1.day1.services.impl.UserServiceImpl"	scope="singleton">
		<property name="userDao"	ref="userDao"/>
	</bean>
	
	
	
</beans>