<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	
	<bean	id="helloWorld"	class="org.quanhu.spring2.day2.service.impl.HelloWorldImpl"/>
	
	<bean	id="beforeq" class="org.quanhu.spring2.aop.Before"/>
	
	<aop:config>
		<aop:pointcut id="pc" expression="execution(* *(..))"/>
		<aop:advisor advice-ref="beforeq"  pointcut-ref="pc"/>
	</aop:config>
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<bean	id="printTime"	class="org.quanhu.spring2.aop.TimeHandler"/>
	<bean	id="aopMethodInteception"	class="org.quanhu.spring2.aop.AopMethodInteception"></bean>
	
</beans>